asgiref==3.9.1
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
django==5.2.4
django-browser-reload==1.18.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.10
google-auth==2.40.3
idna==3.10
inflection==0.5.1
packaging==25.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyjwt==2.10.1
python-decouple==3.8
pytz==2025.2
pyyaml==6.0.2
requests==2.32.4
rsa==4.9.1
sqlparse==0.5.3
uritemplate==4.2.0
urllib3==2.5.0
whitenoise==6.9.0
